**/**.swp

**/cpp/VulkanTesting/shaders/**.spv
**/cpp/data_structures/**
!**/cpp/data_structures/*.*

**/clang/semaphores/**
!**/clang/semaphores/*.*

**/py/crypto/**.pyc
**/py/pygame/**.pyc

**/elixir/**.beam
**/elixir/kv/_build/**
**/elixir/kv_umbrella/_build/**

**/erlang/**.beam

**/haxe/**.hl
